* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff9e2;
	background-image: url("../img/symphony.png");
}

header {
	height: 500px;
	background-color: #fff9e2;
	background-image: url("../img/header-bg.jpg");
	border-bottom: solid 1px rgba(62,62,62,0.85);
}

header h1 {
	padding-top: 230px;
	
	
	font-family: 'Waiting for the Sunrise', cursive;
	color: white;
	text-transform: uppercase;
	font-size: 100px;
	text-align: center;
	padding-top: 150px;
}

header .lead {
	font-family: 'Waiting for the Sunrise', cursive;
	color: white;
	font-size: 35px;
	text-align: center;
	margin-top: -25px;
}

.navbar {
	height: 65px;
	background-color: rgba(32,47,55,0.85);
	border-bottom: solid 1px rgba(62,62,62,0.85);
}

.navbar li {
	display: inline;
	
	font-family: 'Waiting for the Sunrise', cursive;
	color: white;
	font-size: 28px;
	padding: 0 90px;
}

.navbar ul {
	padding-top: 10px;
	text-align: center;
}

.post {
	width: 1000px;
	margin: 20px auto 30px;
	padding: 25px;
	border: solid 1px rgba(143,143,143,0.43);
	background-color: white;
	
	font-family: 'Raleway', sans-serif;
}

.post-header {
	margin-top: 10px;
}

.post-header h3 {
	padding-bottom: 10px;
	border-bottom: solid 1px rgba(143,143,143,0.43);
	
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 36px;
	color: #231102;
}

.post-header img {
	margin-top: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.post-header .subtitulo {
	padding-bottom: 10px;
	border-bottom: solid 1px rgba(143,143,143,0.43);
	
	text-align: right;
	font-style: italic;
	font-size: 14px;
}

.post-body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.post-body p {
	margin: 7px 0;
}

footer {
	background-color: #22272d;
	
	color: white;
	font-family: 'Raleway', sans-serif;
}

footer h4 {
	padding-top: 10px;
	
	font-family: 'Waiting for the Sunrise', cursive;
	text-align: center;
	font-size: 28px;
}



/*=== OTROS  ===*/

a {
	text-decoration: none;
	font-weight: bold;
}

.navbar a {
	color: white;
}

.navbar a:hover {
	color: rgb(210,210,210);
}

.post a {
	color: rgb(70,70,70);
}

.post a:active {
	color: orange;
}


.post table {
	margin: 0 auto;
	text-align: center;
}

#post-uno table {
	padding: 10px;
}

#post-uno table td, #post-uno table th {
	padding: 2px 20px;
}

#post-uno table th {
	border-bottom: 2px solid black;
}

#post-uno table tr:hover {
	background-color: #ededed;
}

#post-dos table {
	margin-top: 20px;
}


footer form fieldset {
	border: none;
	padding: 10px 10px 20px;
}

footer form {
	text-align: center;
}

footer form label {
	padding: 0px 30px;
}

footer form input[type=text], footer form input[type=email] {
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: solid 1px white;
	color: white;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 22px;
	width: 300px;
	margin-left: 5px;
}

footer form input:focus {
	outline: none;
}


footer form .submitbutton {
	margin-top: 20px;
	border: solid 1px white;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	color: white;
	font-size: 16px;
	padding: 5px 20px;
	background-color: #707070;
	text-decoration: none;
	margin-bottom: 10px;
}

footer form .submitbutton:hover {
	background-color: #7d7d7d;
}





