* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff9e2;
	background-image: url("../img/symphony.png");
}

header {
	height: 500px;
	background-color: #fff9e2;
	background-image: url("../img/header-bg.jpg");
	border-bottom: solid 1px rgba(62,62,62,0.85);
}

header h1 {
	padding-top: 230px;
}

.navbar {
	height: 65px;
	background-color: rgba(32,47,55,0.85);
	border-bottom: solid 1px rgba(62,62,62,0.85);
}

.navbar li {
	display: inline;
}

.navbar ul {
	padding-top: 12px;
}

.post {
	width: 1000px;
	margin: 20px auto 30px;
	padding: 25px;
	border: solid 1px rgba(143,143,143,0.43);
	background-color: white;
}

.post-header {
	margin-top: 10px;
}

.post-header h3 {
	padding-bottom: 10px;
	border-bottom: solid 1px rgba(143,143,143,0.43);
}

.post-header img {
	margin-top: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.post-header .subtitulo {
	padding-bottom: 10px;
	border-bottom: solid 1px rgba(143,143,143,0.43);
}

.post-body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.post-body p {
	margin: 7px 0;
}

footer {
	background-color: #22272d;
}

footer h4 {
	padding-top: 10px;
}
















